packages/expo/lib/bocchi_pb.js linguist-generated
packages/expo/lib/bocchi_pb.d.ts linguist-generated
packages/expo/lib/BocchiServiceClientPb.ts linguist-generated
packages/expo/android/** linguist-generated
packages/expo/ios/** linguist-generated
